:root {
    --theme-color: #1E944F;
    --theme-color-dark: #0B7938;
    --theme-color-light: #EAFEF1;
    --gray-color: #F2F5F7;
    --muted-color: #667085;
    --dark-color: #101828;
}

* {
    font-family: 'Montserrat', sans-serif !important;
    /* color: var(--dark-color); */
}

.bg-theme {
    background-color: var(--theme-color) !important;
}
.text-theme {
    color: var(--theme-color) !important;
}
.text-theme-dark {
    color: var(--theme-color-dark) !important;
}

.bg-theme-light {
    background-color: var(--theme-color-light) !important;
}
.bg-theme-dark {
    background-color: var(--theme-color-dark) !important;
}
.bg-gray{
    background-color: var(--gray-color) !important;
}
.bg-img {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.overlay {
    background-color: #0b3b1f8b;
}


/* Bootstrap Override */
.rounded {
    border-radius: 10px !important;
}
.card {
    border-radius: 0px;
    border: none;
}
.font-weight-normal {
    font-weight: 500 !important;
}
.text-muted {
    color: var(--muted-color) !important;
}
.text-dark {
    color: var(--dark-color)
}
td{
    padding: 8px !important;
    min-width: 150px;
}